<!-- Service Gallery with Multiple Images -->
<div class="event-detail-hero mb-4">
    <div class="event-gallery">
        <!-- Main Image -->
        <div class="main-image-container mb-3">
            <img id="mainEventImage" 
                 src="{% static 'events/images/event-' %}{{ event.event_type }}.jpg" 
                 class="event-main-image" 
                 alt="{{ event.title }}"
                 onerror="this.src='{% static 'events/images/event-default.jpg' %}'">
        </div>
        
        <!-- Thumbnail Gallery -->
        <div class="thumbnail-gallery">
            <div class="row g-2">
                <!-- Primary Image -->
                <div class="col-3">
                    <img src="{% static 'events/images/event-' %}{{ event.event_type }}.jpg" 
                         class="thumbnail-img active" 
                         onclick="changeMainImage(this)"
                         onerror="this.src='{% static 'events/images/event-default.jpg' %}'">
                </div>
                <!-- Additional Images -->
                <div class="col-3">
                    <img src="{% static 'events/images/event-gallery-1.jpg' %}" 
                         class="thumbnail-img" 
                         onclick="changeMainImage(this)">
                </div>
                <div class="col-3">
                    <img src="{% static 'events/images/event-gallery-2.jpg' %}" 
                         class="thumbnail-img" 
                         onclick="changeMainImage(this)">
                </div>
                <div class="col-3">
                    <img src="{% static 'events/images/event-gallery-3.jpg' %}" 
                         class="thumbnail-img" 
                         onclick="changeMainImage(this)">
                </div>
            </div>
        </div>
    </div>
</div>